#matrix .container .row .col-md-4
{
  height: 100px;
  width: 100px;
  padding: 0;
  margin-left: 10px;
  background-color: rgb(182, 208, 230);
}

#matrix .container .row .col-md-12
{
  margin: 10px;
}

